/* Navbar */
nav {
    background: #ff4e72;
}


/* Header */

header {
    height: 50vh;
    background: #ff4e72;
}

header h1 {
    font-size: 54px;
}

header img {
    padding: 20px 0 0 0;
}


/* Main */

main article {
    max-height: 90px;
}

main article .conjunto {
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


/* Footer */

footer {
    background: #ff4e72;
}